*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin: 0;
    background: #b1a6a4;
    color: #020000e8;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    
}

h1 {
    font-size: 60px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
        margin: 50px auto;
        background-color: #d8cfd0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col {
    width: 48%;
    margin: 10px;
    padding: 10px;
}

select,
input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 8px 10px;
    font-weight: 700;
    border: 1px solid #080202b0;
    border-radius: 8px;
    background-color: rgba(5, 2, 2, 0.671);
    color: #fff;
    overflow-y: auto;
  
}

input {
    padding: 10px 15px;
    margin-top: 10px;
}

button {
    width: 200px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    border-radius: 8px;
    background-color: #377da5;
    color: #0a0101;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




button:hover {
    background-color: #0a4364d8;
    transition: 1s;
    border-radius: 15px;
}



